*{
	padding:0;
	margin:0;
	font-family: sans-serif;
}

a{
	color: inherit;
	text-decoration: none;
}

.social-media{
	padding:5px;
	background-color: #FB04FB;	
}

.social-media ul li{
	display: inline-block;
	color: black;
	margin:10px;
}


.clock{
	font-family:sans-serif;
    	font-size:36px;
    	text-align:center;
    	width:auto;
    	height:auto;
}


.container{
	width:80%;
	margin:0 auto;
}
.container: after{
	content:'';
	display: block;
	clear: both;
}

header h1{
	float:left;
	padding: 15px 0;
}

header ul{
	float:right;
}

header ul li{
	display: inline-block;
}

header ul li a{
	padding: 25px 20px;
	display: inline-block;
}

header ul li a:hover{
	background-color: #FB04FB;
	color: white;
}

.wrapper.display #time{
	background: blue;
}


.active{
	background-color: #FB04FB;
	color: white;
}

.banner{
	margin: 0px;
	height: 20vh;
	background-color: #F5AFF5;
}

.banner h2{
	margin: 0px;
	font-family: arial;
	text-align: center;
	font-size: 100px;
	direction: right;
}

section{
	padding: 50px 0;
}

h3 img{
	margin: 20px;
	width: 30%;
	height: 80%
}

h3 p{
	font-align: center;
	margin: 20px;
	font-family: arial;
}

h3 a{
	color: blue;
}

h3 a:hover{
	text-decoration: underline overline;
	color: green;
}

h4 p{
	font-align: center;
	margin: 20px;
	font-family: times new roman;
	font-style: italic;
}

.biodata{
	margin: 0px;
	padding: 50px 50px;
	height: 20vh;
	background-color: #F5AFF5;
	text-align: center;
	font-size: 100px;
	direction: right;
}

.image{ 
	position: relative;
	overflow: hidden;
}

.image.image1{
	width: 300px;
	height: 300px;	
	float: left;
	border-radius: 50%;
	margin: 20px;
	shape-outside: circle();
}

.image.image2{
	width: 400px;
	height: 400px;	
	float: right;
	border-radius: 50%;
	margin: 20px;
	shape-outside: circle();
}

.image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h5 p{
	padding: 10px 20px;
	color: black;
	line-height: 1.0cm;
	text-align: justify;
}

.reponsive{
	width: 100%;
	height: 0;
}

.responsive iframe{
	width: 100%;
	height: 100%;
}

.experience{
	margin: 0px;
	padding: 50px 50px;
	height: 20vh;
	background-color: #F5AFF5;
	text-align: center;
	font-size: 100px;
	direction: right;
}

ol li{
	font-family: arial;
	font-size: 30px;
	text-align: left
}

h6 img{
	width: 300px;
	height: 300px;
}

.family{
	margin: 0px;
	padding: 50px 50px;
	height: 20vh;
	background-color: #F5AFF5;
	text-align: center;
	font-size: 100px;
	direction: right;
}

img{
	width: 60%;
	height: 100%;
}

.image.image4{
	width: 300px;
	height: 300px;	
	float: right;
	border-radius: 50%;
	margin: 20px;
	shape-outside: circle();
}

p{
	padding: 20px 25px;
	color: black;
	line-height: 1.0cm;
	font-family: arial;
	font-size: 20px;
	text-align: justify;
}

.image.image5{
	width: 300px;
	height: 300px;	
	float: left;
	border-radius: 50%;
	margin: 20px;
	shape-outside: circle();
}

.image.image6{
	width: 300px;
	height: 300px;	
	float: right;
	border-radius: 50%;
	margin: 20px;
	shape-outside: circle();
}

p{
	padding: 20px 25px;
	color: black;
	line-height: 1.0cm;
	font-family: arial;
	font-size: 20px;
	text-align: justify;
}

.gallery{
	margin: 0px;
	padding: 50px 50px;
	height: 20vh;
	background-color: #F5AFF5;
	text-align: center;
	font-size: 100px;
	direction: right;
}

.grid{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 390px;
}

.grid img{
	width: 100%;
	height: 358px;
	object-fit: cover;
}

.grid embed{
	width: 100%;
	height: 358px;
	object-fit: cover;
}

.other{
	background-color: #F5AFF5
}

.table{
	margin: 50px;
}

td img{
	display: block;
	width: 60%;
    	margin-left: auto;
    	margin-right: auto;
}

.icon{
	display: inline-block;
	box-sizing: border-box;
	height: 60px;
	width: 150px;
	text-align: center;
	float: left;
	margin: 0 5px;
	border-radius: 100px;
	background: white;
	cursor: pointer;
	overflow: hidden;
}

.icon i{
	font-size: 40px;	
}

.icon:hover{
	width: 200px;
}

span{
	font-size: 20px;
	color: blue;
	animation: text 3s 1;
}
a img{
	width: 30%;
	height: 100%;
	margin: 50px;
}

text{
	weidth: 50%;
	height: auto;
}
footer{
	margin: 0;
	padding: 30px 0;
	background-color: #333;
	color: white;
	text-align: center;
}